@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.attribution {
  padding-bottom: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  min-height: 100vh;
  /* margin: 15%; */
  align-items: center;
  padding: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background: hsl(212, 45%, 89%);
  overflow: hidden;
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 20px, -20px, 20px, red;
}

.img {
  margin: 10px;
  padding: 5px 5px 0px 5px;
  border-radius: 10px;
}

.catch__phrase {
  color: hsl(218, 44%, 22%);
  padding: 0px 25px 0px 25px;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
}

.action {
  color: hsl(220, 15%, 55%);
  padding: 0px 25px 5px 25px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}
